
* {
    font-family: 'Noto Sans TC', sans-serif;
    margin: 0;
    padding: 0;

}

body{
    background-color: black;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: bold;


}

p{
    color: brown;
}





/* header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(121,9,9,1) 98%);
    padding: 20px;




} */

/*=============== NAVBAR ==================== */

.navbar-expand-lg{
    background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(121,9,9,1) 98%);

}


.nav-link{
    color: white !important;

}

.btn-dark{
    border: solid white !important;
}

/*=============== FIN NAVBAR ==================== */

/*=============== FOOTER ==================== */
footer{
    color: white;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 45%);

}

ul li {
    list-style-type: none;
    width: 70px;
    margin: 30px;
    text-align: center; }
nav{
    display: flex;
    align-items: center;

}
nav ul {
    display: flex; }

ul{
    padding: 0;
}

/*=============== FIN FOOTER ==================== */

/*=============== INDEX ================= */

#carrousel{
    background-color: black;
}



#exampleFormControlTextarea1{
    height: 300px;
}
.nombre-blanco {
    color: white;
}

h5{
    background-color: black;
}

.foto-main {
    width: 100%;
    height: auto;
}

.encabezado{
    color: white;
    font-weight: 900;
    font-size: 2em;
    background-color: black;
}


h2{
    color: white;
    font-weight: 900;
    font-size: 2em;
}
/*=============== FIN INDEX ================= */


/*=============== SECCION PRENSA ================= */

.encabezado-prensa{
    color: white;
    font-weight: 900;
    font-size: 2em;
    background-color: black;
    margin: 0px;
    text-align: center;
}
.prensa{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.flex-container-prensa {
    background-color: black;
    color: brown;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    padding: 10px;
    border: solid white;
    text-align: center;

}

/* Formulario */

.form-group {
    background-color: black;
    color: white;
}

.form-control {
    background-color: black;
}

.rounded-pill{
    background-color: black;
    border: solid white;
}

.rounded-pill:hover{
    background-color: brown;
    color: black;
    border: solid black;
}

.btn-light{
    background-color: brown !important;
    margin: 10px;
}


/* Fin Formulario */




/*=============== FIN SECCION PRENSA ================= */






/*=============== EVENTOS ================= */

.div-container-eventos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3. 1fr);
    background-color: black;
    justify-items: center;

}

.div-container-eventos div{
    padding: 5px;
    margin: 5px;
    width: 50px;
    width: 460px;
    height: 570px;

}

/* escalar una imagen */
.eventos:hover{
    transform:skewX(5deg);
}

/*=============== FIN EVENTOS ================= */


/*=============== SECCION ARTISTAS ================= */
.artistas-section-fila-uno{
    display: flex;
    justify-content: center;
    text-align: center;


}

.fila-uno{
    margin: 10px;
    padding: 10px;
}

.artistas-section-fila-dos{
    display: flex;
    justify-content: center;
    text-align: center;

}

.fila-dos{
    margin: 10px;
    padding: 10px;
}

.artistas-section-fila-tres{
    display: flex;
    justify-content: center;
    text-align: center;

}

.fila-tres{
    margin: 10px;
    padding: 10px;
}

.fondo-artistas{
    background-color: black;
}

/*=============== FIN SECCION ARTISTAS ================= */






/*=============== ARREGLOS PQ BOOTSTRAP ME ROMPIO ESTILOS ==================== */
.noticia-principal{
    background-color: black;
    padding: 20px;




}

.noticia-secundaria{
    background-color: black;
    padding: 20px;

}

#carouselExampleCaptions{
    padding: 20px;
    background-color: black;
}


.hr {
    margin: 0rem 0 !important;
    color: inherit !important;
    background-color: currentColor !important;
    border: 0 !important;
    opacity: .25 !important
}

/*=============== FIN ARREGLOS PQ BOOTSTRAP ME ROMPIO ESTILOS ==================== */


/*=============== ESTILOS BOTONES/LINK ==================== */

#estilos-link {
    
    color: white;
}

.bi-twitter:hover{
    color: #00acee;
}
.bi-facebook:hover{
    color: #3b5998
}

.bi-instagram:hover{
    color: violet;
}
.btn-light:hover{
    background-color: white !important;
    color: black !important;
   
}

.btn-dark:hover{
    background-color: brown !important;
    color: white !important;
}
/*=============== FIN ESTILOS BOTONES/LINK ==================== */

/* Tamaño de todas las imagenes section artistas y eventos */
.tamaño {
    width: 350px;
    height: 440px;
}
/* esto fue para un desafio, lo saco pq no me gusta header{
    position: sticky;
    top: 0px;
} */

/*=============== RESPONSIVE ==================== */

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;


    }
    .navbar-expand-lg{

       background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 45%);
    }

    .botonera-main {
        flex-direction: column;

    }

    footer{
        background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(121,9,9,1) 98%);
    }

    .artistas-section-fila-uno{
        display: flex;
        flex-direction: column;
    }

    .artistas-section-fila-dos{
        display: flex;
        flex-direction: column;
    }

    .artistas-section-fila-tres{
        display: flex;
        flex-direction: column;
    }
    .tamaño{
        width: 100%;
        height: auto;
    }

}

@media only screen and (max-width: 1024px){
    header {
        flex-direction: column;


    }
    .navbar-expand-lg{

       background: linear-gradient(90deg, rgba(121,9,9,1) 0%, rgba(0,0,0,1) 45%);
    }

    .botonera-main {
        flex-direction: column;

    }

    footer{
        background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(121,9,9,1) 98%);
    }

    .artistas-section-fila-uno{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .artistas-section-fila-dos{
        display: flex;
        flex-direction: column;
    }

    .artistas-section-fila-tres{
        display: flex;
        flex-direction: column;
    }

    .tamaño{
        width: 100%;
        height: auto;
    }

}

/*=============== FIN RESPONSIVE ==================== */

